<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href=" {{ url_for('static', filename='styke.css') }}">
    <title>saludo</title>
</head>
<body>
    <header>
        <nav>
            <a href="./">Home</a>
        </nav>
    </header>
    <main>
        <section>
            <h1>¡Saludame!</h1>       
            
                <form action="">
                    <input type="text" value="yo soy.">
                    <a href="./saludo.html"><input type="submit"></a>
                </form>
                
            
            <a href=""><p>Saludos Reconocidos</p></a>
        </section>
        
    </main>
    <footer>
        <p>Copyright</p>
        <p>Sobre Hola</p>
    </footer>
    
</body>
</html>